body {
  background-color: rgb(3, 16, 26)
}

.centred {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h5 {
  color: #FDB813;
}

.hero-r2d2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  box-shadow: 3px 3px 3px #888888;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn btn default {

}
